{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Article Titles{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>知识是人类进步的阶梯</h1>
</div>

<div class="container">
    {% for article in articles %}
        <div class="list-group">
            <a href="{{ article.get_absolute_url }}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ article.title }}</h4>
                <p class="list-group-item-text">&nbsp;&nbsp;作者：{{ article.author }}</p>
                <p class="list-group-item-text" style="margin-top:20px">{{ article.body|slice:'50'|linebreaks}}</p>
            </a>
        </div>
    {% endfor %}
    <div class="text-center" style="height: 100px;">
        {% include "article/paginator.html" %}
    </div>
</div>
{% endblock %}