{% extends "base.html" %}
{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>忘记密码？</h1>
    <p>请输入你的邮箱以重置密码</p>

    <form class="form-horizontal" action="." method="POST">{% csrf_token %}
        <div class="form-group">
                <label for="id_email" class="col-md-5 control-label text-right">
                    <span>邮箱</span>
                </label>
                <div class="col-md-6 text-left">
                    {{ form.email }}
                </div>
                {% if form.email.errors %}
                <div class="col-md-6 col-md-offset-5 text-left text-danger">
                    {{ form.email.errors }}
                </div>
                {% endif %}
        </div>
        <input type="submit" class="btn btn-primary btn-lg" value="发送邮件">
    </form>
</div>
{% endblock %}
