{% extends "base.html" %}
{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    {% if validlink %}

    <p>请您重复输入新的密码：</p>
    <form class="form-horizontal" action="." method="POST">
            {% csrf_token %}
    <div class="form-group">
            <label class="col-md-5 control-label text-right">
                <span>
                    新密码
                </span>
            </label>
            <div class="col-md-6 text-left">
                {{ form.new_password1 }}
            </div>
            {% if form.new_password1.errors %}
            <div class="col-md-6 col-md-offset-5 text-left text-danger">
                {{ form.new_password1.errors }}
            </div>
            {% endif %}
        </div>
        <div class="form-group">
                <label class="col-md-5 control-label text-right">
                    <span>
                        重复新密码
                    </span>
                </label>
                <div class="col-md-6 text-left">
                    {{ form.new_password2 }}
                </div>
                {% if form.new_password2.errors %}
                <div class="col-md-6 col-md-offset-5 text-left text-danger">
                    {{ form.new_password2.errors }}
                </div>
                {% endif %}
            </div>
        <input type="submit" value="确认更改密码" class="btn btn-primary btn-lg">
    </form>
    
    {% else %}
    
    <p>因为已经使用过，所以重置密码链接无效，请重新发送重置密码邮件</p>
    
    {% endif %}
</div>
{% endblock %}
