{% extends "base.html" %}
{% block title %}Password Change{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>
        更改密码
    </h1>
    <p>
        为了安全，请您输入旧密码，然后输入两次新密码
    </p>
    {% if form.newpassword1.help_text %}
    <div class="text-left">
        <p>
            {{ form.newpassword1.help_text|safe }}
        </p>
    </div>
    {% endif %}
    <form class="form-horizontal" action="." method="POST">
        {% csrf_token %}
        {% if form.errors %}
            <p class="errornote">
            {% if form.errors.items|length == 1 %}请确认以下密码正确{% endif %}
            </p>
        {% endif %}
        <div class="form-group">
            <label class="col-md-5 control-label text-right">
                <span>
                    <!-- {{ form.old_password.label_tag }} -->
                    旧密码
                </span>
            </label>
            <div class="col-md-6 text-left">
                {{ form.old_password }}
            </div>
            {% if form.old_password.errors %}
            <div class="col-md-6 col-md-offset-5 text-left text-danger">
                {{ form.old_password.errors }}
            </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label class="col-md-5 control-label text-right">
                <span>
                    <!-- {{ form.new_password1.label_tag }} -->
                    新密码
                </span>
            </label>
            <div class="col-md-6 text-left">
                {{ form.new_password1 }}
            </div>
            {% if form.new_password1.errors %}
            <div class="col-md-6 col-md-offset-5 text-left text-danger">
                {{ form.new_password1.errors }}
            </div>
            {% endif %}
        </div>
        <div class="form-group">
                <label class="col-md-5 control-label text-right">
                    <span>
                        <!-- {{ form.new_password2.label_tag }} -->
                        重复新密码
                    </span>
                </label>
                <div class="col-md-6 text-left">
                    {{ form.new_password2 }}
                </div>
                {% if form.new_password2.errors %}
                <div class="col-md-6 col-md-offset-5 text-left text-danger">
                    {{ form.new_password2.errors }}
                </div>
                {% endif %}
            </div>
        <input type="submit" value="确认更改密码" class="btn btn-primary btn-lg">
    </form> 
</div>
{% endblock %}
